body {
  font-family: "Arial", sans-serif;
  background: white;
  color: black;
  padding: 20px;
  text-align: left;
a {
  text-decoration: none;
}
 .link{
  font-family:"BlinkMacSystemFont", sans-serif;
  font-size:18px;
  color: 1772d0 
  }
.text{
  font-family:"BlinkMacSystemFont", sans-serif;
  font-size:18px;
  color: black
}
