body {
  font-family: "Arial", sans-serif;
  background: #FFC0CB;
  color: black;
  text-align: left;

 .link{
  font-family:"BlinkMacSystemFont", sans-serif;
  font-size:18px;
  color: 551a8b 
  }
.text{
  font-family:"BlinkMacSystemFont", sans-serif;
  font-size:18px;
  color: black
}
