body {
  font-family: "Arial", sans-serif;
  background: white;
  color: black;
  padding: 30px;
  text-align: left;
a {
  text-decoration: none;
}
 .link{
  font-family:"BlinkMacSystemFont", sans-serif;
  font-size:18px;
  color: 1772d0 
  }
.text{
  font-family:"BlinkMacSystemFont", sans-serif;
  font-size:18px;
  color: black
}
@font-face {
    font-family: 'Linux Libertine';
    src: url('assets/css/LinLibertine_R.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}
